<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.tippzettel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tippzettel"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs.tippzettel.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        
        <activity
            android:name="cs.tippzettel.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="cs.tippzettel.LoginActivity" >
<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                    </activity>

        <!--
        <activity
            android:name="cs.tippzettel.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs.tippzettel.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="cs.tippzettel.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        </activity>
        -->
        <activity
            android:name="cs.tippzettel.TippabgabeActivity"
            android:label="@string/title_activity_tippabgabe"
            android:parentActivityName="cs.tippzettel.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        </activity>
        <activity
            android:name="cs.tippzettel.SpieltagActivity"
            android:label="@string/title_activity_spieltag"
            android:parentActivityName="cs.tippzettel.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        </activity>
        <activity
            android:name="cs.tippzettel.GesamtStandActivity"
            android:label="@string/title_activity_gesamt_stand"
            android:parentActivityName="cs.tippzettel.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        </activity>
        <activity
            android:name="cs.tippzettel.ErgebnisActivity"
            android:label="@string/title_activity_ergebnis"
            android:parentActivityName="cs.tippzettel.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.MainActivity" />
        </activity>
        <activity
            android:name="cs.tippzettel.SpieltagSpielerActivity"
            android:label="@string/title_activity_spieltag_spieler"
            android:parentActivityName="cs.tippzettel.SpieltagActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.tippzettel.SpieltagActivity" />
        </activity>
    </application>

</manifest>